.__table_container {
    width: 1120px;
    position: relative;
    // box-shadow: 0 0 10px black;
}

.__table_card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.__fold {
    position: absolute;
    background: #e82a32;
    width: 344px;
    height: 145px;
    top: 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid black;
}

.__fold_sm {
    // position: absolute;
    // top: 0px;
    // left: 424px;
    // width: 0;
    // height: 0;
    // border-left: 0px solid transparent;
    // border-right: 122px solid transparent;
    // border-top: 128px solid black;

    position: absolute;
    background: #e82a32;
    width: 200px;
    height: 89px;
    top: 0px;
    left: 346px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.__triangle {
    position: absolute;
    top: 0px;
    left: 340px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 122px solid transparent;
    border-top: 132px solid black;
}

.__triangle_inner {
    position: relative;
    top: -130px;
    left: -1px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 118px solid transparent;
    border-top: 127px solid #e82a32;
}

.__fold_cover {
    position: absolute;
    background: #e82a32;
    width: 169px;
    height: 89px;
    top: 0px;
    left: 377px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.__fold_title {
    left: 45px;
    position: absolute;
    top: 18px;
}

.__fold_date {
    left: 45px;
    position: absolute;
    top: 46px;
}

.__divider {
    position: absolute;
    width: 2rem;
    height: 100%;
    background: #e82a32;
    border: 2px solid black;
    z-index: 2;
}

.__front {
    height: 655px;
    bottom: 0;
    width: 50%;
    background: #e82a32;
    border-bottom-right-radius: 30px;

    border-top-right-radius: 30px;
    border: 2px solid black;
    align-self: flex-end;
    z-index: 1;
}

.__back {
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #e82a32;
    border: 2px solid black;
}

.__front_fold {
    position: absolute;
    background: #e82a32;
    width: 169px;
    height: 56px;
    top: -55px;
    left: 0px;
    border-top-right-radius:10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.__front_triangle {
    position: absolute;
    top: -54px;
    left: 164px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 83px solid transparent;
    border-bottom: 54px solid black;
}

.__front_inner_triangle {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 60px solid #e82a32;
}

.__circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    top: 22px;
    left: 65px;
}

.__inner_circle {
    position: relative;
    width: 90px;
    height: 90px;
    background: blue;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.__ellipsis_1 {
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    top: 31px;
    left: 190px;
}

.__ellipsis_2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 50%;
    top: 31px;
    left: 230px;
}

.__ellipsis_3 {
    position: absolute;
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 50%;
    top: 31px;
    left: 270px;
}
